
.footer {
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: silver;
}
.bosluk {
	/*background-color: lightgreen;*/
	padding-top: 100px;
}
.yesil6 {
	padding-top: 60px;
}
.ustslider {
	padding-top: 50px;
}
.arkaplan {
	background-color: lightgreen;
}
