
.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 120px;
	padding-right: 120px;
	background-color: silver;
}
.bosluk {
	/*background-color: lightgreen;*/
	padding-top: 100px;
}
.yesil6 {
	padding-top: 60px;
}
